/deploy/build/
/deploy/docker-compose/build
/deploy/config/
/deploy/var/
/deploy/.env
/chart/certs/*
!/chart/certs/README.md
/chart/charts/*.tgz
deploy/new.sh
deploy/docker-compose/combined.yaml
*.DS_Store
**.env
dev.values.yaml
